
/* animal */
main {
  width: 1200px;
  margin: 20px auto;
  user-select: none; 
  
}
.main-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.item {
  width: 550px;
  position: relative;
}
.animal-image {
  box-shadow: 5px 5px 10px #555;
}

.dummy {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
  opacity : 0;
  background-color: rgba(255,0,0,0);
}
.dummy p {
  color: #000;
  font-weight: bold;
  font-size: 26px;
  text-shadow:
  -3px -3px 4px #fff,
  -3px 3px 4px #fff,
  3px -3px 4px #fff,
  3px 3px 4px #fff;
}

.appear {
  opacity: 1;
  transition: opacity 0.3s;  /* リロード時に出現させないためにこっちの方がいい */
}



/* クリック位置 */
/* 公園 */
.bird  {top:  35px; left: 270px; width: 114px; height:  46px;}
.btfly {top: 111px; left:  70px; width:  77px; height:  59px;}
.cat   {top: 280px; left: 280px; width:  92px; height:  41px;}
.dog   {top: 305px; left:  41px; width: 190px; height: 111px;}
.mouse {top: 260px; left: 467px; width:  50px; height:  50px;}
.snake {top: 428px; left: 178px; width:  62px; height:  73px;}
.frog  {top: 480px; left: 448px; width:  50px; height:  50px;}
/* 牧場 */
.sheep {top: 248px; left:  22px; width: 102px; height:  90px;}
.cow   {top: 261px; left: 190px; width: 131px; height:  93px;}
.goat  {top: 295px; left: 442px; width:  76px; height:  62px;}
.pig   {top: 365px; left:  26px; width: 125px; height:  85px;}
.horse {top: 358px; left: 328px; width: 220px; height: 188px;}
/* 森 */
.rbbit {top: 281px; left: 111px; width:  73px; height:  97px;}
.fox   {top: 252px; left: 449px; width:  73px; height: 102px;}
.sqrel {top: 317px; left: 295px; width:  63px; height:  60px;}
.deer  {top: 214px; left: 204px; width: 140px; height:  93px;}
.bear  {top: 399px; left: 368px; width: 175px; height: 145px;}
.monky {top: 119px; left: 176px; width:  93px; height:  86px;}
.duck  {top: 443px; left:  43px; width: 138px; height:  69px;}
.w-boa {top: 221px; left:  37px; width:  88px; height:  59px;}
.owl   {top:  25px; left: 339px; width:  55px; height:  74px;}
/* 海 */
.whale {top:  14px; left: 205px; width: 335px; height: 108px;}
.dolpn {top:  43px; left:  12px; width: 146px; height: 105px;}
.fish  {top: 244px; left: 169px; width: 218px; height: 106px;}
.turtl {top: 210px; left:   5px; width: 133px; height: 126px;}
.shrmp {top: 470px; left: 425px; width:  95px; height:  68px;}
.squid {top: 335px; left: 376px; width:  78px; height: 111px;}
.crab  {top: 458px; left: 168px; width: 129px; height:  82px;}
.shark {top: 161px; left: 392px; width: 145px; height: 113px;}
.octps {top: 396px; left:  35px; width:  92px; height: 101px;}
/* サバンナ */
.grafe {top: 152px; left: 132px; width:  68px; height: 114px;}
.tiger {top: 330px; left: 214px; width:  73px; height: 100px;}
.elpht {top: 189px; left: 218px; width: 130px; height: 116px;}
.crcdl {top: 452px; left:   8px; width: 195px; height:  85px;}
.lion  {top: 234px; left: 366px; width: 174px; height: 134px;}
.grill {top: 225px; left:   6px; width: 119px; height: 123px;}
.hippo {top: 390px; left: 323px; width: 213px; height: 141px;}
/* 原っぱ */
.drgfl {top:  12px; left: 185px; width: 157px; height: 114px;}
.ant   {top: 255px; left:  55px; width:  32px; height: 102px;}
.spidr {top: 239px; left: 386px; width:  50px; height:  50px;}
.snail {top: 207px; left: 141px; width:  50px; height:  50px;}
.grshp {top: 317px; left:  98px; width:  90px; height:  43px;}
.msqit {top: 163px; left: 373px; width:  50px; height:  50px;}
.bee   {top: 278px; left: 233px; width: 107px; height:  71px;}
.ldybg {top: 410px; left: 224px; width:  50px; height:  50px;}
.lizrd {top: 313px; left: 417px; width: 106px; height:  68px;}


/* 文字位置 */
/* 公園 */
.bird  p {transform: translate(85px, -21px);}
.btfly p {transform: translate(-22px, -51px);}
.cat   p {transform: translate(-40px, -33px);}
.dog   p {transform: translate(0px, -60px);}
.mouse p {transform: translate(0px, -36px);}
.snake p {transform: translate(64px, -19px);}
.frog  p {transform: translate(-53px, -22px);}
/* 牧場 */
.sheep p {transform: translate(-15px, -63px);}
.cow   p {transform: translate(10px, -60px);}
.goat  p {transform: translate(23px, -40px);}
.pig   p {transform: translate(51px, 38px);}
.horse p {transform: translate(-116px, -26px);}
/* 森 */
.rbbit p {transform: translate(-58px, -10px);}
.fox   p {transform: translate(-11px, -66px);}
.sqrel p {transform: translate(-30px, 49px);}
.deer  p {transform: translate(101px, 0px);}
.bear  p {transform: translate(41px, -70px);}
.monky p {transform: translate(0px, -70px);}
.duck  p {transform: translate(-27px, -36px);}
.w-boa p {transform: translate(8px, -66px);}
.owl   p {transform: translate(58px, -11px);}
/* 海 */
.whale p {transform: translate(-65px, 61px);}
.dolpn p {transform: translate(45px, -38px);}
.fish  p {transform: translate(31px, -64px);}
.turtl p {transform: translate(46px, -72px);}
.shrmp p {transform: translate(-27px, 24px);}
.squid p {transform: translate(60px, 15px);}
.crab  p {transform: translate(-2px, -57px);}
.shark p {transform: translate(-3px, 54px);}
.octps p {transform: translate(-4px, 68px);}
/* サバンナ */
.grafe p {transform: translate(-30px, -79px);}
.tiger p {transform: translate(-75px, -14px);}
.elpht p {transform: translate(19px, -86px);}
.crcdl p {transform: translate(19px, -58px);}
.lion  p {transform: translate(29px, 58px);}
.grill p {transform: translate(-15px, -79px);}
.hippo p {transform: translate(23px, 64px);}
/* 原っぱ */
.drgfl p {transform: translate(-133px, -19px);}
.ant   p {transform: translate(-40px, -45px);}
.spidr p {transform: translate(-67px, -19px);}
.lizrd p {transform: translate(-32px, 49px);}
.snail p {transform: translate(31px, -44px);}
.grshp p {transform: translate(14px, 41px);}
.msqit p {transform: translate(0px, -43px);}
.bee   p {transform: translate(-31px, -30px);}
.ldybg p {transform: translate(0px, 42px);}






/* tb */
@media (max-width: 1024px) {
  main {
    width: 744px;
  }
  .main-wrapper {
    display: block;
  }
  .item {
    margin: 20px auto 30px;
  }
  
}



/* sp */
@media (max-width: 599px) {
  main {
    width: 375px;
  }
  .animal-image {
    width: 370px;
  }
  .dummy p {
    font-size: 22px;
  }

  /* クリック位置 */
  /* 公園 */
  .bird  {top:  22px; left: 180px; width:  78px; height:  33px;}
  .btfly {top:  73px; left:  46px; width:  52px; height:  43px;}
  .cat   {top: 188px; left: 189px; width:  61px; height:  28px;}
  .dog   {top: 195px; left:  25px; width: 132px; height:  83px;}
  .mouse {top: 178px; left: 315px; width:  35px; height:  31px;}
  .snake {top: 286px; left:  94px; width:  66px; height:  51px;}
  .frog  {top: 322px; left: 293px; width:  51px; height:  36px;}
  /* 牧場 */
  .sheep {top: 168px; left:  13px; width:  70px; height:  60px;}
  .cow   {top: 176px; left: 125px; width:  93px; height:  61px;}
  .goat  {top: 198px; left: 293px; width:  57px; height:  44px;}
  .pig   {top: 246px; left:  18px; width:  84px; height:  57px;}
  .horse {top: 243px; left: 219px; width: 149px; height: 124px;}
  /* 森 */
  .rbbit {top: 195px; left:  70px; width:  55px; height:  62px;}
  .fox   {top: 169px; left: 302px; width:  49px; height:  71px;}
  .sqrel {top: 211px; left: 200px; width:  41px; height:  44px;}
  .deer  {top: 136px; left: 136px; width: 105px; height:  70px;}
  .bear  {top: 267px; left: 247px; width: 120px; height: 100px;}
  .monky {top:  74px; left: 117px; width:  65px; height:  61px;}
  .duck  {top: 295px; left:  20px; width: 105px; height:  52px;}
  .w-boa {top: 149px; left:  23px; width:  62px; height:  45px;}
  .owl   {top:  15px; left: 226px; width:  43px; height:  51px;}
  /* 海 */
  .whale {top:   8px; left: 138px; width: 231px; height:  80px;}
  .dolpn {top:  28px; left:   5px; width: 102px; height:  74px;}
  .fish  {top: 166px; left: 109px; width: 150px; height:  73px;}
  .turtl {top: 139px; left:   2px; width:  90px; height:  89px;}
  .shrmp {top: 313px; left: 283px; width:  68px; height:  50px;}
  .squid {top: 224px; left: 239px; width:  70px; height:  82px;}
  .crab  {top: 308px; left: 112px; width:  88px; height:  56px;}
  .shark {top: 107px; left: 264px; width:  99px; height:  91px;}
  .octps {top: 265px; left:  22px; width:  72px; height:  71px;}
  /* サバンナ */
  .grafe {top: 100px; left:  79px; width:  56px; height:  77px;}
  .tiger {top: 221px; left: 135px; width:  58px; height:  68px;}
  .elpht {top: 125px; left: 144px; width:  94px; height:  83px;}
  .crcdl {top: 279px; left:   4px; width: 134px; height:  82px;}
  .lion  {top: 155px; left: 244px; width: 124px; height:  91px;}
  .grill {top: 146px; left:   2px; width:  75px; height:  83px;}
  .hippo {top: 251px; left: 217px; width: 147px; height: 108px;}
  /* 原っぱ */
  .drgfl {top:   7px; left: 118px; width: 112px; height:  81px;}
  .ant   {top: 173px; left:  38px; width:  22px; height:  64px;}
  .spidr {top: 160px; left: 259px; width:  37px; height:  38px;}
  .snail {top: 136px; left:  91px; width:  42px; height:  37px;}
  .grshp {top: 214px; left:  65px; width:  64px; height:  24px;}
  .msqit {top: 108px; left: 253px; width:  32px; height:  34px;}
  .bee   {top: 187px; left: 156px; width:  78px; height:  50px;}
  .ldybg {top: 278px; left: 147px; width:  38px; height:  29px;}
  .lizrd {top: 210px; left: 278px; width:  85px; height:  61px;}



  /* 文字位置 */
  /* 公園 */
  .bird  p {transform: translate(66px, -21px);}
  .btfly p {transform: translate(-13px, -38px);}
  .cat   p {transform: translate(-8px, -33px);}
  .dog   p {transform: translate(0px, -60px);}
  .mouse p {transform: translate(-4px, -30px);}
  .snake p {transform: translate(66px, -19px);}
  .frog  p {transform: translate(-41px, -22px);}
  /* 牧場 */
  .sheep p {transform: translate(-2px, -48px);}
  .cow   p {transform: translate(-2px, -47px);}
  .goat  p {transform: translate(-2px, -40px);}
  .pig   p {transform: translate(42px, 29px);}
  .horse p {transform: translate(-91px, -26px);}
  /* 森 */
  .rbbit p {transform: translate(-47px, -10px);}
  .fox   p {transform: translate(-11px, -53px);}
  .sqrel p {transform: translate(-33px, 31px);}
  .deer  p {transform: translate(67px, 4px);}
  .bear  p {transform: translate(23px, -50px);}
  .monky p {transform: translate(0px, -51px);}
  .duck  p {transform: translate(-27px, -31px);}
  .w-boa p {transform: translate(8px, -53px);}
  .owl   p {transform: translate(44px, -11px);}
  /* 海 */
  .whale p {transform: translate(-47px, 45px);}
  .dolpn p {transform: translate(35px, -32px);}
  .fish  p {transform: translate(5px, -53px);}
  .turtl p {transform: translate(11px, -55px);}
  .shrmp p {transform: translate(-33px, 18px);}
  .squid p {transform: translate(53px, 5px);}
  .crab  p {transform: translate(-2px, -45px);}
  .shark p {transform: translate(-7px, 20px);}
  .octps p {transform: translate(-4px, 41px);}
  /* サバンナ */
  .grafe p {transform: translate(-8px, -56px);}
  .tiger p {transform: translate(-45px, -2px);}
  .elpht p {transform: translate(6px, -56px);}
  .crcdl p {transform: translate(52px, -20px);}
  .lion  p {transform: translate(23px, 35px);}
  .grill p {transform: translate(3px, 33px);}
  .hippo p {transform: translate(-43px, 42px);}
  /* 原っぱ */
  .drgfl p {transform: translate(-93px, -26px);}
  .ant   p {transform: translate(-22px, -47px);}
  .spidr p {transform: translate(38px, -26px);}
  .snail p {transform: translate(31px, -26px);}
  .grshp p {transform: translate(8px, 24px);}
  .msqit p {transform: translate(23px, -30px);}
  .bee   p {transform: translate(-31px, -26px);}
  .ldybg p {transform: translate(0px, 29px);}
  .lizrd p {transform: translate(-40px, 25px);} 


}