
body {
  background-image: url(../img/bg_blue.jpg);
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* header */
header {
  margin: 30px auto 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-family: 'Noto Sans', sans-serif;
} 
header h4 {
  margin-bottom: 5px;
}
header h1 {
  font-weight: 900;
  font-size: 2.5em;
  color: #ff4810;
  text-shadow: -6px -2px 4px #9aff99, 6px 2px 4px #eeff007a;
  letter-spacing: 0.1em;
}
nav {
  position: absolute;
  right: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 35px;
  font-weight: 600;
}
nav img {
  margin-bottom: 5px;
}
nav a:hover {
  display: block;
  background-color: #d1defb;
  border-radius: 5px;
  transition: 0.3s;
}
.pdf {
  color: blue;
}

/* reanding */
.reading {
  width: 100vw;
  text-align: center;
  padding: 20px;
  background-color: #D9F5FF;
  position: sticky;
  top: 0;
  z-index: 15;

}
.reading p {
  margin: 10px auto 20px;
}
.reading .btn {
  border: 1px solid #aaa;
  font-size: 20px;
  padding: 5px 20px;
  border-radius: 5px;
  color: #999;
  background-color: #E9E9ED;  
}
.reading .light {
  color: #000;
  background-color: rgb(242, 255, 127);  
}

main {
  flex: 1;
}

/* footer */
footer {
  margin: 50px auto 30px;
  text-align: center;
  font-size: 16px;
}

/* hide / unhide */
.reading .btn-change {
  color: #000;
  background-color: rgb(242, 255, 127);  
}

/* tb */
@media (max-width: 1024px) {
  nav {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .pdf {
    display: none;
  }
  .return a {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 18px;
    font-weight: normal;
  }
  .return a img {
    height: 18px;
  }

}


/* sp */
@media (max-width: 599px) {
  body {
    font-size: 18px;
  }
  header h1 {
    font-weight: 900;
    font-size: 2.0em;
  }
  nav {
    top: 30px;
  }
  .return a p {
    display: none;
  }
  .reading {
    padding: 10px;
  }
  .btn {
    margin-right: 15px;
  }
  audio {
    width: 130px;
    height: 30px;
  }
  .reading .btn {
    font-size: 16px;
    padding: 5px 20px;
    border-radius: 5px;
  }
  
  footer {
    font-size: 14px;
  }
  


}