
/* main */
main {
  width: 1200px;
  margin: 20px auto;
  user-select: none; 
  
}
.main-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.category {
  text-align: center;
  width: 550px;
  margin: 10px auto;
}
.item-title {
  margin-bottom: 10px;
  color: #555;
  text-shadow: 0 0 2px #00bafb;
  cursor: pointer;
}
.item {
  width: 100%;
  position: relative;
}
.food-image {
  box-shadow: 5px 5px 10px #555;
  width: 100%;
}

.dummy {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
  opacity : 0;
  background-color: rgba(255,0,0,0);
}
.dummy p {
  color: #000;
  font-weight: bold;
  font-size: 20px;
  text-shadow:
  -3px -3px 4px #fff,
  -3px 3px 4px #fff,
  3px -3px 4px #fff,
  3px 3px 4px #fff;
}

.appear {
  opacity: 1;
  transition: opacity 0.3s;  /* リロード時に出現させないためにこっちの方がいい */
}



/* クリック位置 */
/* Main-Food */
.rice    {top: 6%; left: 4%; width: 85px; height: 70px;}
.bread   {top: 5%; left:25%; width:122px; height: 85px;}
.noodle  {top: 6%; left:49%; width:122px; height: 82px;}
.soup    {top: 6%; left:77%; width:106px; height: 78px;}
.spaghti {top:29%; left: 2%; width:110px; height: 81px;}
.hambrgr {top:29%; left:27%; width: 89px; height: 81px;}
.salad   {top:29%; left:50%; width:112px; height: 81px;}
.pizza   {top:29%; left:76%; width:112px; height: 70px;}
.beef    {top:55%; left: 2%; width:114px; height: 74px;}
.pork    {top:54%; left:26%; width:108px; height: 76px;}
.chicken {top:55%; left:49%; width:116px; height: 70px;}
.lamb    {top:54%; left:74%; width:130px; height: 78px;}
.bacon   {top:79%; left: 3%; width:107px; height: 68px;}
.ham     {top:77%; left:28%; width:105px; height: 85px;}
.sausage {top:77%; left:54%; width:102px; height: 83px;}
.egg     {top:77%; left:76%; width:123px; height: 85px;}
/* Vegetable */
.cucumber {top: 2%; left: 8%; width: 38px; height:153px;}
.eggplant {top: 7%; left:24%; width: 50px; height:125px;}
.carrot   {top: 3%; left:43%; width: 46px; height:119px;}
.tomato   {top: 4%; left:65%; width: 81px; height: 65px;}
.corn     {top: 2%; left:88%; width: 36px; height:131px;}
.cabbage  {top:19%; left:55%; width:109px; height: 79px;}
.potato   {top:35%; left: 2%; width:134px; height: 73px;}
.onion    {top:31%; left:30%; width: 77px; height: 86px;}
.paprika  {top:37%; left:50%; width:110px; height: 76px;}
.g-pepper {top:30%; left:79%; width: 89px; height: 81px;}
.squash   {top:53%; left: 2%; width:153px; height: 81px;}
.lettuce  {top:53%; left:32%; width:108px; height: 85px;}
.garlic   {top:54%; left:56%; width: 88px; height: 99px;}
.s-potato {top:69%; left: 5%; width: 50px; height:145px;}
.asparags {top:69%; left:25%; width: 30px; height:169px;}
.broccoli {top:74%; left:38%; width: 84px; height: 97px;}
.spinach  {top:76%; left:57%; width: 80px; height:121px;}
.g-onion  {top:51%; left:78%; width: 33px; height:257px;}
.radish   {top:51%; left:89%; width: 45px; height:253px;}
/* Dairy */
.dairy-p {top: 4%; left:38%; width:154px; height:218px;}
.milk    {top: 9%; left: 6%; width:134px; height:233px;}
.cheese  {top:71%; left: 2%; width:197px; height:142px;}
.butter  {top:68%; left:65%; width:185px; height:168px;}
.yogurt  {top:52%; left:39%; width:144px; height:158px;}
.ice-c   {top: 6%; left:75%; width:115px; height:248px;}
/* Kichien */
.sugar     {top:34%; left:48%; width: 64px; height: 76px;}
.salt      {top:34%; left:34%; width: 64px; height: 76px;}
.pepper    {top:11%; left:28%; width: 52px; height:100px;}
.vinegar   {top: 2%; left:40%; width: 59px; height:149px;}
.oil       {top:24%; left:14%; width: 62px; height:164px;}
.honey     {top: 7%; left:54%; width: 55px; height:119px;}
.frying-p  {top:39%; left:70%; width:112px; height: 89px;}
.candy     {top:59%; left:12%; width: 52px; height: 49px;}
.coffee    {top:52%; left:38%; width: 83px; height: 70px;}
.chocolate {top:52%; left:21%; width: 80px; height: 84px;}
.towel     {top:79%; left:75%; width: 68px; height:115px;}

/* 文字位置 */
/* Main-Food */
.rice p    {transform: translate(0px, 53px);}
.bread p   {transform: translate(0px, 53px);}
.noodle p  {transform: translate(0px, 53px);}
.soup p    {transform: translate(0px, 53px);}
.spaghti p {transform: translate(0px, 53px);}
.hambrgr p {transform: translate(0px, 53px);}
.salad p   {transform: translate(0px, 53px);}
.pizza p   {transform: translate(0px, 53px);}
.beef p    {transform: translate(0px, 53px);}
.pork p    {transform: translate(0px, 53px);}
.chicken p {transform: translate(0px, 53px);}
.lamb p    {transform: translate(0px, 53px);}
.bacon p   {transform: translate(0px, 53px);}
.ham p     {transform: translate(0px, 53px);}
.sausage p {transform: translate(0px, 53px);}
.egg p     {transform: translate(0px, 53px);}
/* Vegetable */
.cucumber p {transform: translate(-8px, 35px);}
.eggplant p {transform: translate(3px, 0px);}
.carrot p   {transform: translate(0px, 0px);}
.tomato p   {transform: translate(0px, 12px);}
.corn p     {transform: translate(0px, 0px);}
.cabbage p  {transform: translate(0px, 0px);}
.potato p   {transform: translate(-16px, 10px);}
.onion p    {transform: translate(0px, 13px);}
.paprika p  {transform: translate(0px, 13px);}
.g-pepper p {transform: translate(0px, 31px);}
.squash p   {transform: translate(0px, 12px);}
.lettuce p  {transform: translate(0px, 0px);}
.garlic p   {transform: translate(-6px, 3px);}
.s-potato p {transform: translate(0px, 0px);}
.asparags p {transform: translate(0px, 33px);}
.broccoli p {transform: translate(0px, 9px);}
.spinach p  {transform: translate(0px, 23px);}
.g-onion p  {transform: translate(0px, 44px);}
.radish p   {transform: translate(0px, 0px);}
/* Dairy */
.dairy-p p {transform: translate(0px, 124px);}
.milk p    {transform: translate(0px,134px);}
.cheese p  {transform: translate(13px, 24px);}
.butter p  {transform: translate(-25px,-73px);}
.yogurt p  {transform: translate(0px, 93px);}
.ice-c p   {transform: translate(0px, 0px);}
/* Kichien */
.sugar p     {transform: translate(0px, 48px);}
.salt p      {transform: translate(0px, 48px);}
.pepper p    {transform: translate(-18px,-66px);}
.vinegar p   {transform: translate(0px,-13px);}
.oil p       {transform: translate(-48px,-40px);}
.honey p     {transform: translate(58px,-41px);}
.frying-p p  {transform: translate(0px,-60px);}
.candy p     {transform: translate(-55px,-16px);}
.coffee p    {transform: translate(0px, 52px);}
.chocolate p {transform: translate(-5px, 55px);}
.towel p     {transform: translate(-61px, 0px);}



/* tb */
@media (max-width: 1024px) {
  main {
    width: 744px;
  }
  .main-wrapper {
    display: block;
  }
  .item {
    margin: 20px auto 30px;
  }
  
}



/* sp */
@media (max-width: 599px) {
  main {
    width: 375px;
  }
  .category {
    width: 370px;
  }
  .dummy p {
    font-size: 15px;
  }

  /* クリック位置 */
  /* Main-Food */
  .rice    {top: 6%; left: 4%; width: 56px; height: 50px;}
  .bread   {top: 5%; left:25%; width: 78px; height: 59px;}
  .noodle  {top: 6%; left:49%; width: 83px; height: 57px;}
  .soup    {top: 6%; left:77%; width: 72px; height: 53px;}
  .spaghti {top:29%; left: 2%; width: 75px; height: 54px;}
  .hambrgr {top:29%; left:27%; width: 59px; height: 55px;}
  .salad   {top:29%; left:50%; width: 76px; height: 54px;}
  .pizza   {top:29%; left:76%; width: 77px; height: 46px;}
  .beef    {top:55%; left: 2%; width: 78px; height: 49px;}
  .pork    {top:54%; left:26%; width: 75px; height: 53px;}
  .chicken {top:55%; left:49%; width: 78px; height: 48px;}
  .lamb    {top:54%; left:74%; width: 87px; height: 56px;}
  .bacon   {top:79%; left: 3%; width: 72px; height: 45px;}
  .ham     {top:77%; left:28%; width: 70px; height: 58px;}
  .sausage {top:77%; left:54%; width: 68px; height: 57px;}
  .egg     {top:77%; left:76%; width: 84px; height: 57px;}
  /* Vegetable */
  .cucumber {top: 2%; left: 6%; width: 37px; height:107px;}
  .eggplant {top: 7%; left:22%; width: 50px; height: 87px;}
  .carrot   {top: 3%; left:41%; width: 48px; height: 81px;}
  .tomato   {top: 2%; left:64%; width: 61px; height: 54px;}
  .corn     {top: 2%; left:86%; width: 39px; height: 94px;}
  .cabbage  {top:18%; left:55%; width: 74px; height: 58px;}
  .potato   {top:35%; left: 2%; width: 92px; height: 54px;}
  .onion    {top:31%; left:29%; width: 60px; height: 59px;}
  .paprika  {top:37%; left:50%; width: 77px; height: 53px;}
  .g-pepper {top:30%; left:79%; width: 62px; height: 58px;}
  .squash   {top:53%; left: 2%; width:105px; height: 56px;}
  .lettuce  {top:53%; left:32%; width: 78px; height: 62px;}
  .garlic   {top:54%; left:56%; width: 62px; height: 67px;}
  .s-potato {top:69%; left: 5%; width: 37px; height:101px;}
  .asparags {top:69%; left:25%; width: 25px; height:112px;}
  .broccoli {top:74%; left:38%; width: 58px; height: 68px;}
  .spinach  {top:76%; left:57%; width: 56px; height: 84px;}
  .g-onion  {top:51%; left:78%; width: 28px; height:173px;}
  .radish   {top:51%; left:89%; width: 34px; height:171px;}
  /* Dairy */
  .dairy-p {top: 4%; left:38%; width:107px; height:149px;}
  .milk    {top: 9%; left: 6%; width: 91px; height:158px;}
  .cheese  {top:71%; left: 2%; width:137px; height: 96px;}
  .butter  {top:68%; left:65%; width:124px; height:113px;}
  .yogurt  {top:52%; left:39%; width: 97px; height:107px;}
  .ice-c   {top: 6%; left:75%; width: 80px; height:172px;}
  /* Kichien */
  .sugar     {top:34%; left:48%; width: 43px; height: 51px;}
  .salt      {top:34%; left:34%; width: 43px; height: 51px;}
  .pepper    {top:11%; left:28%; width: 36px; height: 66px;}
  .vinegar   {top: 2%; left:40%; width: 42px; height:102px;}
  .oil       {top:24%; left:14%; width: 43px; height:109px;}
  .honey     {top: 7%; left:54%; width: 39px; height: 80px;}
  .frying-p  {top:39%; left:70%; width: 76px; height: 82px;}
  .candy     {top:59%; left:12%; width: 35px; height: 35px;}
  .coffee    {top:52%; left:38%; width: 57px; height: 46px;}
  .chocolate {top:52%; left:21%; width: 55px; height: 56px;}
  .towel     {top:79%; left:75%; width: 47px; height: 78px;}

  /* 文字位置 */
  /* Main-Food */
  .rice p    {transform: translate(0px, 36px);}
  .bread p   {transform: translate(0px, 36px);}
  .noodle p  {transform: translate(0px, 36px);}
  .soup p    {transform: translate(0px, 36px);}
  .spaghti p {transform: translate(0px, 36px);}
  .hambrgr p {transform: translate(0px, 36px);}
  .salad p   {transform: translate(0px, 36px);}
  .pizza p   {transform: translate(0px, 36px);}
  .beef p    {transform: translate(0px, 36px);}
  .pork p    {transform: translate(0px, 36px);}
  .chicken p {transform: translate(0px, 36px);}
  .lamb p    {transform: translate(0px, 36px);}
  .bacon p   {transform: translate(0px, 36px);}
  .ham p     {transform: translate(0px, 36px);}
  .sausage p {transform: translate(0px, 36px);}
  .egg p     {transform: translate(0px, 36px);}
  /* Vegetable */
  .cucumber p {transform: translate(-8px, 35px);}
  .eggplant p {transform: translate(3px, 0px);}
  .carrot p   {transform: translate(0px, 0px);}
  .tomato p   {transform: translate(0px, 12px);}
  .corn p     {transform: translate(0px, 0px);}
  .cabbage p  {transform: translate(0px, 0px);}
  .potato p   {transform: translate(-16px, 10px);}
  .onion p    {transform: translate(0px, 13px);}
  .paprika p  {transform: translate(0px, 13px);}
  .g-pepper p {transform: translate(0px, 20px);}
  .squash p   {transform: translate(0px, 12px);}
  .lettuce p  {transform: translate(0px, 0px);}
  .garlic p   {transform: translate(-6px, 3px);}
  .s-potato p {transform: translate(0px, 0px);}
  .asparags p {transform: translate(0px, 33px);}
  .broccoli p {transform: translate(0px, 9px);}
  .spinach p  {transform: translate(0px, 23px);}
  .g-onion p  {transform: translate(0px, 44px);}
  .radish p   {transform: translate(0px, 0px);}
  /* Dairy */
  .dairy-p p {transform: translate(0px, 83px);}
  .milk p    {transform: translate(0px, 92px);}
  .cheese p  {transform: translate(13px, 24px);}
  .butter p  {transform: translate(-20px,-52px);}
  .yogurt p  {transform: translate(0px, 61px);}
  .ice-c p   {transform: translate(0px, 0px);}
  /* Kichien */
  .sugar p     {transform: translate(0px, 32px);}
  .salt p      {transform: translate(0px, 32px);}
  .pepper p    {transform: translate(-18px,-43px);}
  .vinegar p   {transform: translate(0px,-21px);}
  .oil p       {transform: translate(-35px,-40px);}
  .honey p     {transform: translate(39px,-25px);}
  .frying-p p  {transform: translate(0px,-60px);}
  .candy p     {transform: translate(-35px,-24px);}
  .coffee p    {transform: translate(0px, 33px);}
  .chocolate p {transform: translate(-5px, 39px);}
  .towel p     {transform: translate(-45px,-16px);}
}