
/* main */
main {
  width: 1200px;
  margin: 20px auto;
  user-select: none; 
  
}
.main-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.category {
  text-align: center;
  width: 550px;
  margin: 10px auto;
}
.item-title {
  margin-bottom: 10px;
  color: #555;
  text-shadow: 0 0 2px #00bafb;
  cursor: pointer;
}
.item {
  width: 100%;
  position: relative;
}
.food-image {
  box-shadow: 5px 5px 10px #555;
  width: 100%;
}

.dummy {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
  opacity : 0;
  background-color: rgba(255,0,0,0);
}
.dummy p {
  color: #000;
  font-weight: bold;
  font-size: 20px;
  text-shadow:
  -3px -3px 4px #fff,
  -3px 3px 4px #fff,
  3px -3px 4px #fff,
  3px 3px 4px #fff;
}

.appear {
  opacity: 1;
  transition: opacity 0.3s;  /* リロード時に出現させないためにこっちの方がいい */
}



/* クリック位置 */
/* Main-Food */
.rice    {top: 6%; left: 4%; width: 85px; height: 70px;}
.bread   {top: 5%; left:25%; width:122px; height: 85px;}
.noodle  {top: 6%; left:49%; width:122px; height: 82px;}
.soup    {top: 6%; left:77%; width:106px; height: 78px;}
.spaghti {top:29%; left: 2%; width:110px; height: 81px;}
.hambrgr {top:29%; left:27%; width: 89px; height: 81px;}
.salad   {top:29%; left:50%; width:112px; height: 81px;}
.pizza   {top:29%; left:76%; width:112px; height: 70px;}
.beef    {top:55%; left: 2%; width:114px; height: 74px;}
.pork    {top:54%; left:26%; width:108px; height: 76px;}
.chicken {top:55%; left:49%; width:116px; height: 70px;}
.lamb    {top:54%; left:74%; width:130px; height: 78px;}
.bacon   {top:79%; left: 3%; width:107px; height: 68px;}
.ham     {top:77%; left:28%; width:105px; height: 85px;}
.sausage {top:77%; left:54%; width:102px; height: 83px;}
.egg     {top:77%; left:76%; width:123px; height: 85px;}
/* Vegetable */
.cucumber {top: 2%; left: 8%; width: 38px; height:153px;}
.eggplant {top: 7%; left:24%; width: 50px; height:125px;}
.carrot   {top: 3%; left:43%; width: 46px; height:119px;}
.tomato   {top: 4%; left:65%; width: 81px; height: 65px;}
.corn     {top: 2%; left:88%; width: 36px; height:131px;}
.cabbage  {top:19%; left:55%; width:109px; height: 79px;}
.potato   {top:35%; left: 2%; width:134px; height: 73px;}
.onion    {top:31%; left:30%; width: 77px; height: 86px;}
.paprika  {top:37%; left:50%; width:110px; height: 76px;}
.g-pepper {top:30%; left:79%; width: 89px; height: 81px;}
.squash   {top:53%; left: 2%; width:153px; height: 81px;}
.lettuce  {top:53%; left:32%; width:108px; height: 85px;}
.garlic   {top:54%; left:56%; width: 88px; height: 99px;}
.s-potato {top:69%; left: 5%; width: 50px; height:145px;}
.asparags {top:69%; left:25%; width: 30px; height:169px;}
.broccoli {top:74%; left:38%; width: 84px; height: 97px;}
.spinach  {top:76%; left:57%; width: 80px; height:121px;}
.g-onion  {top:51%; left:78%; width: 33px; height:257px;}
.radish   {top:51%; left:89%; width: 45px; height:253px;}
/* Dairy */
.dairy-p {top: 4%; left:38%; width:154px; height:218px;}
.milk    {top: 9%; left: 6%; width:134px; height:233px;}
.cheese  {top:71%; left: 2%; width:197px; height:142px;}
.butter  {top:68%; left:65%; width:185px; height:168px;}
.yogurt  {top:52%; left:39%; width:144px; height:158px;}
.ice-c   {top: 6%; left:75%; width:115px; height:248px;}
/* Kichien */
.sugar     {top:34%; left:48%; width: 64px; height: 76px;}
.salt      {top:34%; left:34%; width: 64px; height: 76px;}
.pepper    {top:11%; left:28%; width: 52px; height:100px;}
.vinegar   {top: 2%; left:40%; width: 59px; height:149px;}
.oil       {top:24%; left:14%; width: 62px; height:164px;}
.honey     {top: 7%; left:54%; width: 55px; height:119px;}
.frying-p  {top:39%; left:70%; width:112px; height: 89px;}
.candy     {top:59%; left:12%; width: 52px; height: 49px;}
.coffee    {top:52%; left:38%; width: 83px; height: 70px;}
.chocolate {top:52%; left:21%; width: 80px; height: 84px;}
.towel     {top:79%; left:75%; width: 68px; height:115px;}

/* 文字位置 */
/* Main-Food */
.rice p    {transform: translate(0px, 53px);}
.bread p   {transform: translate(0px, 53px);}
.noodle p  {transform: translate(0px, 53px);}
.soup p    {transform: translate(0px, 53px);}
.spaghti p {transform: translate(0px, 53px);}
.hambrgr p {transform: translate(0px, 53px);}
.salad p   {transform: translate(0px, 53px);}
.pizza p   {transform: translate(0px, 53px);}
.beef p    {transform: translate(0px, 53px);}
.pork p    {transform: translate(0px, 53px);}
.chicken p {transform: translate(0px, 53px);}
.lamb p    {transform: translate(0px, 53px);}
.bacon p   {transform: translate(0px, 53px);}
.ham p     {transform: translate(0px, 53px);}
.sausage p {transform: translate(0px, 53px);}
.egg p     {transform: translate(0px, 53px);}
/* Vegetable */
.cucumber p {transform: translate(-8px, 35px);}
.eggplant p {transform: translate(3px, 0px);}
.carrot p   {transform: translate(0px, 0px);}
.tomato p   {transform: translate(0px, 12px);}
.corn p     {transform: translate(0px, 0px);}
.cabbage p  {transform: translate(0px, 0px);}
.potato p   {transform: translate(-16px, 10px);}
.onion p    {transform: translate(0px, 13px);}
.paprika p  {transform: translate(0px, 13px);}
.g-pepper p {transform: translate(0px, 31px);}
.squash p   {transform: translate(0px, 12px);}
.lettuce p  {transform: translate(0px, 0px);}
.garlic p   {transform: translate(-6px, 3px);}
.s-potato p {transform: translate(0px, 0px);}
.asparags p {transform: translate(0px, 33px);}
.broccoli p {transform: translate(0px, 9px);}
.spinach p  {transform: translate(0px, 23px);}
.g-onion p  {transform: translate(0px, 44px);}
.radish p   {transform: translate(0px, 0px);}
/* Dairy */
.dairy-p p {transform: translate(0px, 124px);}
.milk p    {transform: translate(0px,134px);}
.cheese p  {transform: translate(13px, 24px);}
.butter p  {transform: translate(-25px,-73px);}
.yogurt p  {transform: translate(0px, 93px);}
.ice-c p   {transform: translate(0px, 0px);}
/* Kichien */
.sugar p     {transform: translate(0px, 48px);}
.salt p      {transform: translate(0px, 48px);}
.pepper p    {transform: translate(-18px,-66px);}
.vinegar p   {transform: translate(0px,-13px);}
.oil p       {transform: translate(-48px,-40px);}
.honey p     {transform: translate(58px,-41px);}
.frying-p p  {transform: translate(0px,-60px);}
.candy p     {transform: translate(-55px,-16px);}
.coffee p    {transform: translate(0px, 52px);}
.chocolate p {transform: translate(-5px, 55px);}
.towel p     {transform: translate(-61px, 0px);}



/* tb */
@media (max-width: 1024px) {
  main {
    width: 744px;
  }
  .main-wrapper {
    display: block;
  }
  .item {
    margin: 20px auto 30px;
  }
  
}



/* sp */
@media (max-width: 599px) {
  main {
    width: 375px;
  }
  .category {
    width: 370px;
  }
  .dummy p {
    font-size: 22px;
  }

  /* クリック位置 */
  /* 公園 */
  .bird  {top:  22px; left: 180px; width:  78px; height:  33px;}
  .btfly {top:  73px; left:  46px; width:  52px; height:  43px;}
  .cat   {top: 188px; left: 189px; width:  61px; height:  28px;}
  .dog   {top: 195px; left:  25px; width: 132px; height:  83px;}
  .mouse {top: 178px; left: 315px; width:  35px; height:  31px;}
  .snake {top: 286px; left:  94px; width:  66px; height:  51px;}
  .frog  {top: 322px; left: 293px; width:  51px; height:  36px;}
  /* 牧場 */
  .sheep {top: 168px; left:  13px; width:  70px; height:  60px;}
  .cow   {top: 176px; left: 125px; width:  93px; height:  61px;}
  .goat  {top: 198px; left: 293px; width:  57px; height:  44px;}
  .pig   {top: 246px; left:  18px; width:  84px; height:  57px;}
  .horse {top: 243px; left: 219px; width: 149px; height: 124px;}
  /* 森 */
  .rbbit {top: 195px; left:  70px; width:  55px; height:  62px;}
  .fox   {top: 169px; left: 302px; width:  49px; height:  71px;}
  .sqrel {top: 211px; left: 200px; width:  41px; height:  44px;}
  .deer  {top: 136px; left: 136px; width: 105px; height:  70px;}
  .bear  {top: 267px; left: 247px; width: 120px; height: 100px;}
  .monky {top:  74px; left: 117px; width:  65px; height:  61px;}
  .duck  {top: 295px; left:  20px; width: 105px; height:  52px;}
  .w-boa {top: 149px; left:  23px; width:  62px; height:  45px;}
  .owl   {top:  15px; left: 226px; width:  43px; height:  51px;}
  /* 海 */
  .whale {top:   8px; left: 138px; width: 231px; height:  80px;}
  .dolpn {top:  28px; left:   5px; width: 102px; height:  74px;}
  .fish  {top: 166px; left: 109px; width: 150px; height:  73px;}
  .turtl {top: 139px; left:   2px; width:  90px; height:  89px;}
  .shrmp {top: 313px; left: 283px; width:  68px; height:  50px;}
  .squid {top: 224px; left: 239px; width:  70px; height:  82px;}
  .crab  {top: 308px; left: 112px; width:  88px; height:  56px;}
  .shark {top: 107px; left: 264px; width:  99px; height:  91px;}
  .octps {top: 265px; left:  22px; width:  72px; height:  71px;}
  /* サバンナ */
  .grafe {top: 100px; left:  79px; width:  56px; height:  77px;}
  .tiger {top: 221px; left: 135px; width:  58px; height:  68px;}
  .elpht {top: 125px; left: 144px; width:  94px; height:  83px;}
  .crcdl {top: 279px; left:   4px; width: 134px; height:  82px;}
  .lion  {top: 155px; left: 244px; width: 124px; height:  91px;}
  .grill {top: 146px; left:   2px; width:  75px; height:  83px;}
  .hippo {top: 251px; left: 217px; width: 147px; height: 108px;}
  /* 原っぱ */
  .drgfl {top:   7px; left: 118px; width: 112px; height:  81px;}
  .ant   {top: 173px; left:  38px; width:  22px; height:  64px;}
  .spidr {top: 160px; left: 259px; width:  37px; height:  38px;}
  .snail {top: 136px; left:  91px; width:  42px; height:  37px;}
  .grshp {top: 214px; left:  65px; width:  64px; height:  24px;}
  .msqit {top: 108px; left: 253px; width:  32px; height:  34px;}
  .bee   {top: 187px; left: 156px; width:  78px; height:  50px;}
  .ldybg {top: 278px; left: 147px; width:  38px; height:  29px;}
  .lizrd {top: 210px; left: 278px; width:  85px; height:  61px;}



  /* 文字位置 */
  /* 公園 */
  .bird  p {transform: translate(66px, -21px);}
  .btfly p {transform: translate(-13px, -38px);}
  .cat   p {transform: translate(-8px, -33px);}
  .dog   p {transform: translate(0px, -60px);}
  .mouse p {transform: translate(-4px, -30px);}
  .snake p {transform: translate(66px, -19px);}
  .frog  p {transform: translate(-41px, -22px);}
  /* 牧場 */
  .sheep p {transform: translate(-2px, -48px);}
  .cow   p {transform: translate(-2px, -47px);}
  .goat  p {transform: translate(-2px, -40px);}
  .pig   p {transform: translate(42px, 29px);}
  .horse p {transform: translate(-91px, -26px);}
  /* 森 */
  .rbbit p {transform: translate(-47px, -10px);}
  .fox   p {transform: translate(-11px, -53px);}
  .sqrel p {transform: translate(-33px, 31px);}
  .deer  p {transform: translate(67px, 4px);}
  .bear  p {transform: translate(23px, -50px);}
  .monky p {transform: translate(0px, -51px);}
  .duck  p {transform: translate(-27px, -31px);}
  .w-boa p {transform: translate(8px, -53px);}
  .owl   p {transform: translate(44px, -11px);}
  /* 海 */
  .whale p {transform: translate(-47px, 45px);}
  .dolpn p {transform: translate(35px, -32px);}
  .fish  p {transform: translate(5px, -53px);}
  .turtl p {transform: translate(11px, -55px);}
  .shrmp p {transform: translate(-33px, 18px);}
  .squid p {transform: translate(53px, 5px);}
  .crab  p {transform: translate(-2px, -45px);}
  .shark p {transform: translate(-7px, 20px);}
  .octps p {transform: translate(-4px, 41px);}
  /* サバンナ */
  .grafe p {transform: translate(-8px, -56px);}
  .tiger p {transform: translate(-45px, -2px);}
  .elpht p {transform: translate(6px, -56px);}
  .crcdl p {transform: translate(52px, -20px);}
  .lion  p {transform: translate(23px, 35px);}
  .grill p {transform: translate(3px, 33px);}
  .hippo p {transform: translate(-43px, 42px);}
  /* 原っぱ */
  .drgfl p {transform: translate(-93px, -26px);}
  .ant   p {transform: translate(-22px, -47px);}
  .spidr p {transform: translate(38px, -26px);}
  .snail p {transform: translate(31px, -26px);}
  .grshp p {transform: translate(8px, 24px);}
  .msqit p {transform: translate(23px, -30px);}
  .bee   p {transform: translate(-31px, -26px);}
  .ldybg p {transform: translate(0px, 29px);}
  .lizrd p {transform: translate(-40px, 25px);} 


}