
/* fruits */
main {
  margin-top: 20px;
  text-align: center;
  width: 1200px;
  margin: 0 auto;
  position: relative;
  user-select: none; 
}
.fruits-image { 
  width: 100%;
}
.dummy {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  background-color: rgba(255,0,0,0);
}
.dummy p {
  color: #000;
  font-weight: bold;
  font-size: 30px;
  transform: translateY(100%);
  transition: transform 0.2s;
  text-shadow:
  -3px -3px 4px #fff,
  -3px 3px 4px #fff,
  3px -3px 4px #fff,
  3px 3px 4px #fff;
}

.appear {
  opacity: 1;
  transition: opacity 0.3s;  /* リロード時に出現させないためにこっちの方がいい */
}
.appear p {
  transform: translateY(0);
}


.apple {top:  39px; left:  30px; width: 134px; height: 140px;}
.g-apl {top:  38px; left: 207px; width: 131px; height: 144px;}
.stbry {top:  28px; left: 383px; width: 230px; height: 144px;}
.lemon {top:  31px; left: 671px; width: 267px; height: 107px;}
.peach {top:  34px; left: 993px; width: 145px; height: 132px;}
.orang {top: 246px; left:  43px; width: 259px; height: 133px;}
.w-mln {top: 233px; left: 357px; width: 260px; height: 165px;}
.mscat {top: 215px; left: 667px; width: 125px; height: 176px;}
.grape {top: 215px; left: 843px; width: 114px; height: 176px;}
.chery {top: 224px; left:1025px; width: 122px; height: 147px;}
.pear  {top: 446px; left:  56px; width: 126px; height: 158px;}
.jpear {top: 476px; left: 241px; width: 138px; height: 131px;}
.bnana {top: 452px; left: 455px; width: 205px; height: 163px;}
.melon {top: 435px; left: 709px; width: 258px; height: 177px;}
.pine  {top: 406px; left:1032px; width: 121px; height: 240px;}
.persi {top: 688px; left:  30px; width: 139px; height: 109px;}
.dragn {top: 638px; left: 232px; width: 185px; height: 182px;}
.kiwi  {top: 672px; left: 443px; width: 189px; height: 141px;}
.mango {top: 656px; left: 686px; width: 192px; height: 144px;}
.papay {top: 657px; left: 941px; width: 227px; height: 145px;}


/* .apple p {top: 65px; left: 40px;}
.g-apl p {top: 65px; left: 40px;}
.stbry p {top: 65px; left: 40px;}
.lemon p {top: 65px; left: 40px;}
.peach p {top: 65px; left: 40px;}
.orang p {top: 65px; left: 40px;}
.w-mln p {top: 65px; left: 40px;} */


