
body {
  background-image: url(../img/bg_green.jpg);
  background-size: cover;
  background-position: center;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'ADLaM Display', cursive;
  color: #333;
}
header {
  background-color: #f9fccc;
  background: linear-gradient(135deg, #ffffd3 0%, #d7f1ff 50%, #ccffce 100%);
  background-size: cover;
  text-align: center;
  padding : 30px 40px;
  position: relative;
}
.logo {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
}
.main-title {
  min-width: 800px;
}
.logo p {
  font-family: 'Pacifico', cursive;
  color: green;
}


/* main */
main {
  flex: 1;            /* footerを一番下にするため */
}
.main-wrapper {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
  user-select: none; 
}

.conversation,
.word,
.quiz {
  width: 300px;
  min-height: 500px;
  text-align: center;
  --conv-bgc: #fff6d9;
  --conv-border: #ffc823;
  --conv-item: #ffdb6e;
  --word-bgc: #caf1ff;
  --word-border: #31c2f7;  
  --word-item: #6ed8ff;
  --quiz-bgc: #fce6ff;
  --quiz-border: #f294ff;
  --quiz-item: #f8beff;
  
}
/* icon */
.icon-area {         /* icon共通 */
  width: 250px;
  margin: 0 auto;
  border-radius: 30px 30px 0 0; 
  margin-top: 10px;
}

.icon-conv {
  background-color: var(--conv-bgc);
  border: 4px solid var(--conv-border);
  border-bottom: none;
}
.icon-word {
  background-color: var(--word-bgc);
  border: 4px solid var(--word-border);
  border-bottom: none;
}
.icon-quiz {
  background-color: var(--quiz-bgc);
  border: 4px solid var(--quiz-border);
  border-bottom: none;  
}
.icon-img {
  height: 90px;
}

/* list (タイトル) */
.list-area {         /* list共通 */
  border-radius: 20px 20px 0 0;
  padding: 5px;
  text-shadow: -1px -1px 5px #ffffff, 1px 1px #333;
  letter-spacing: 1px;
}
.list-conv {
  background-color: var(--conv-border);
  border: 4px solid var(--conv-border);
  border-bottom: none;
}
.list-word {
  background-color: var(--word-border);
  border: 4px solid var(--word-border);
  border-bottom: none;
}
.list-quiz {
  background-color: var(--quiz-border);
  border: 4px solid var(--quiz-border);
  border-bottom: none;
}

/* item */
.item-area {         /* item共通 */
  border-radius: 0 0 10px 10px;
  text-align-last: left;
  padding: 15px;
  min-height: 320px;
  box-shadow: 5px 5px 10px #ccc;
  text-shadow: 1px 1px 10px #fff;
}
.item-area li {
  border-radius: 8px;
  margin-bottom: 15px;
  width: 260px;
  transition: opacity 0.3s;
}
.item-area li:hover {
  opacity: 0.8;
  transform: translateY(1px);
}
.item-area li:active {
  transform: translateY(4px);
}
.item-area li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 8px;
}

.item-word ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 5px;
}
.item-word li {
  width: 125px;
  text-align: center;
}
.item-word li i {
  padding-right: 5px;
}

/* リストのボタン押し込み */
/* conv. */
.item-conv {
  background-color: var(--conv-bgc);
  border: 4px solid var(--conv-border);
}
.item-conv li {
  background-color: var(--conv-item);
  box-shadow: 0 5px 0 var(--conv-border);
}
.item-conv li:hover {
  box-shadow: 0 4px 0 var(--conv-border);
}
.item-conv li:active {
  box-shadow: 0 1px 0 var(--conv-border);
}
/* word */
.item-word {
  background-color: var(--word-bgc);
  border: 4px solid var(--word-border);
}
.item-word li {
  background-color: var(--word-item);
  box-shadow: 0 5px 0 var(--word-border);
}
.item-word li:hover {
  background-color: var(--word-item);
  box-shadow: 0 4px 0 var(--word-border);
}
.item-word li:active {
  box-shadow: 0 1px 0 var(--word-border);
}
/* quiz */
.item-quiz {
  background-color: var(--quiz-bgc);
  border: 4px solid var(--quiz-border);
}
.item-quiz li {
  background-color: var(--quiz-item);
  box-shadow: 0 5px 0 var(--quiz-border);
}
.item-quiz li:hover {
  box-shadow: 0 4px 0 var(--quiz-border);
}
.item-quiz li:active {
  box-shadow: 0 1px 0 var(--quiz-border);
}


/* footer */
footer {
  margin-top: 50px;
  background: linear-gradient(135deg, #ffffd3 0%, #d7f1ff 50%, #ccffce 100%);
  text-align: center;
}
footer p {
  font-size: 16px;
  margin: 20px auto;
}