.talk-role1 {
  background-color: rgba(226, 242, 255, 0.7);
}
.talk-role2 {
  background-color: rgba(255, 226, 240, 0.7);
}

.role-name01 img {
  height: 200px;
}
.role-name02 img {
  height: 190px;
}

/* tb */
@media (max-width: 1024px) {
  .role-name01 img {
    height: 180px;
  }
  .role-name02 img {
    height: 170px;
  }
}

/* sp */
@media (max-width: 599px) {
  .role-name01 img {
    height: 100px;
  }
  .role-name02 img {
    height: 100px;
  }
}
